
{% extends "base.html"%}
{% load static %}
{% block extra_title %}- Home{% endblock %}
{% block content%}

<!--Hero Headline-->
{% include 'home/includes/hero_headline.html' %}

<!--Featured Carousel-->
{% include 'home/includes/featured_carousel.html' %}

<!--Home Pre Sale Cards-->
{% include 'home/includes/pre_sale_home_cards.html' %}

<!--Home Merchandise-->
{% include 'home/includes/merchandise_home_cards.html' %}

<!--Home Equipment-->
{% include 'home/includes/equipment_home_cards.html' %}
{% endblock %}