<div class="card mb-4 shadow-sm">
  {% if product.image %}
  <a href="{% url 'product_details' product.id %}"><img class="card-img-top img-fluid" src="{{ product.image.url }}"
      data-holder-rendered="true" alt="{{ product.name }}">
  </a>
  {% else %}
  <a href="{% url 'product_details' product.id %}">
    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no_image.png" alt="{{ product.name }}">
  </a>
  {% endif %}
  <div class="card-body product-details-container">
    <span class="upper-case card-margin bold">{{ product.name }}</span>
    <br>
    <span class="card-margin">{{ product.label_name }}</span> <br>
    <i class="fas fa-pound-sign"></i>
    <span class="card-margin">{{ product.price }}</span> <br>
    <i class="fas fa-tag"></i>
    {% if product.category %}
    <a class="text-muted category-badge text-decoration-none"
      href="{% url 'products' %}?category={{ product.category.name }}">
      <span class="">{{ product.category.friendly_name }}
      </span>
    </a>
    {% endif %}
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
        <a href="{% url 'product_details' product.id %}"><button type="button"
            class="btn btn-sm btn-outline-secondary">View</button></a>
      </div>
      {% if request.user.is_superuser %}
      <small class="ml-3">
        <a href="{% url 'edit_product' product.id %}">Edit</a> |
        <a href="{% url 'delete_product' product.id %}" class=" text-danger m-2" onclick="return confirm('Are you sure you want to delete this?')"><i class="fas fa-trash-alt"></i> Delete</a>
      </small>
      {% endif %}
    </div>
  </div>
</div>