@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Colour and Font Variables */
:root {
    --blackish: #2d2d2b;
    --powder: #f0e4d8;
    --offwhite: #f6f5f0;
    --supple: #C39E9E;
    --fadedpink: #F6F0F1; 
    --roboto: 'Roboto', serif;
    }
/* Global style settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: var(--roboto);
    min-height: 100vh;
    width: 100vw;
}

body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: var(--blackish);
    font-size: .9rem;
    height: calc(100vh - 58px);
    background-color: #fff;
}
.bg-light{
    background-color: var(--offwhite) !important;
}
.upper-case{
	text-transform: uppercase;
}
a{
	color: var(--blackish);
}
.bold{
	font-weight: bold;
}

/*Buttons*/

.btn-outline-secondary {
    color: var(--blackish);
    border-color: var(--blackish);
}

.btn-outline-secondary:hover{
    background-color: var(--supple);
}
.center{
	text-align: center;
}
.sub-title-padding{
	padding: 20px;
}

.btn-group, .btn-group-vertical{
	margin-top: 20px;
}


/* nav bar*/
.navbar-expand-md .navbar-collapse {
	justify-content: space-around !important;
}

.navbar-toggler:focus{
	box-shadow: none;
}
.nav-bar{
    background-color: var(--blackish);
    padding: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
	color: var(--fadedpink);
}

.nav-header{
    background-color: var(--blackish) !important;
    padding: 1rem !important;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
	color: var(--fadedpink);
}
.d-flex{
	align-items: stretch;
}
.shipping-banner{
	background-color: var(--powder);
}

.nav-header a{
    color: var(--fadedpink);
    transition: ease-in-out color .15s;
}
a {
    text-decoration: none;
}
.dropdown-item{
    background-color: var(--offwhite);
    color: var(--blackish) !important;
}
.dropdown-menu{
    background-color: var(--offwhite) !important;
}
a:hover{
    color: var(--supple);
}
.nav-link:focus, .nav-link:hover {
    color: var(--supple);
}

a {
	text-decoration: none!important;
}
.product {
	background-color: #fff;
	text-align: center;
	margin: 0 5px;
}
.product .product-image {
	overflow: hidden;
	position: relative;
}
.product .product-image a.image {
	display: block;
}
.product .product-image img {
	width: 100%;
	height: auto;
}
.product .product-image .pic-1 {
	transition: .5s;
}
.product .product-image:hover .pic-1 {
	opacity: 0;
}
.product .product-image .pic-2 {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: .5s;
}
.product .product-image:hover .pic-2 {
	opacity: 1;
}
.product .discount {
	color: #fff;
	background: #c66;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 30px;
	width: 50px;
	height: 30px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.product .cart {
	color: #000;
	background: #fff;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	width: 100%;
	padding: 4px 14px;
	opacity: .85;
	transform: translateX(-50%);
	position: absolute;
	bottom: -75px;
	left: 50%;
	transition: .5s;
}
.product .cart:hover {
	opacity: 1;
	color: #fff;
	background: #c66;
}
.product:hover .cart {
	bottom: 0px;
}
.product .links {
	padding: 0;
	margin: 0;
	list-style: none;
	opacity: 0;
	position: absolute;
	top: 10px;
	right: -50px;
	transition: .5s;
	margin-bottom: 5px;
}
.product:hover .links {
	opacity: 1;
	right: 10px;
}
.product .links li a {
	color: #fff;
	font-size: 12px;
	line-height: 30px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	display: block;
	background: #000;
	transition: .5s;
	margin-bottom: 5px;
	padding-top: 10px;
}
.product:hover .links li a:hover {
	color: #fff;
	background: #c66;
}
.product .content {
	padding: 12px;
}
.product .category {
	font-size: 17px;
	margin: 0 0 5px;
	display: block;
}
.product .category a {
	color: #999;
	transition: .5s;
	font-size: 11px;
}
.product .category a:hover {
	color: #555;
}
.product .title {
	font-size: 14px;
	font-weight: 500;
	margin: 0 0 8px;
}
.product .title a {
	color: #444;
	transition: .5s;
}
.product .title a:hover {
	color: #c66;
}
.product .price {
	color: #c66;
	font-size: 14px;
	font-weight: 700;
}
.navbar-toggler{
	border: var(--powder) !important;
}
.product .price span {
	color: #888;
	margin: 0 5px 0 0;
	font-weight: 300;
	font-size: 12px;
}
.dropdown-divider{
	border-top: 2px solid #F6F0F1
}
@media screen and (max-width: 990px) {
.product {
	margin: 0 0 30px;
}
}
/*OWL*/
.owl-controls .owl-buttons {
	position: relative;
}
.owl-controls .owl-prev {
	position: absolute;
	left: -10px;
	bottom: 185px;
	padding: 8px 17px;
	background: #c66;
	border-radius: 50px;
	transition: .5s;
}
.owl-controls .owl-next {
	position: absolute;
	right: -10px;
	bottom: 185px;
	padding: 8px 17px;
	background: #c66;
	border-radius: 50px;
	transition: .5s;
}
.owl-controls .owl-prev:after, .owl-controls .owl-next:after {
	content: '\f104';
	font-family: FontAwesome;
	color: #fff;
	font-size: 16px;
}
.owl-controls .owl-next:after {
	content: '\f105';
}
.owl-controls .owl-prev:hover, .owl-controls .owl-next:hover {
	background: #000;
}

/* Cards*/

.product-details-container{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.card-margin{
	margin-top: 17px;
}

.footer-clean {
	padding:50px 0;
	background-color:#fff;
	color:#4b4c4d;
  }
  
  .footer-clean h3 {
	margin-top:0;
	margin-bottom:12px;
	font-weight:bold;
	font-size:16px;
  }
  
  .footer-clean ul {
	padding:0;
	list-style:none;
	line-height:1.6;
	font-size:14px;
	margin-bottom:0;
  }
  
  .footer-clean ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.8;
  }
  
  .footer-clean ul a:hover {
	opacity:1;
  }
  
  .footer-clean .item.social {
	text-align:right;
  }
  
  @media (max-width:767px) {
	.footer-clean .item {
	  text-align:center;
	  padding-bottom:20px;
	}
  }
  
  @media (max-width: 768px) {
	.footer-clean .item.social {
	  text-align:center;
	}
  }
  
  .footer-clean .item.social > a {
	font-size:24px;
	width:40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	border:1px solid #ccc;
	margin-left:10px;
	margin-top:22px;
	color:inherit;
	opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
	opacity:0.9;
  }
  
  @media (max-width:991px) {
	.footer-clean .item.social > a {
	  margin-top:40px;
	}
  }
  
  @media (max-width:767px) {
	.footer-clean .item.social > a {
	  margin-top:10px;
	}
  }
  
  .footer-clean .copyright {
	margin-top:14px;
	margin-bottom:0;
	font-size:13px;
	opacity:0.6;
  }
