<div class="footer-clean">
    <div class="container">
        <div class="row justify-content-center center">
            <div class="col-lg-3 item social">
                <a target="_blank" rel="noopener" href="https://www.facebook.com/"><i class="icon fab fa-facebook-f"></i></a> 
                <a target="_blank" rel="noopener" href="https://www.youtube.com/"><i class="icon fab fa-youtube"></i></a>
                <a target="_blank" rel="noopener" href="https://www.instagram.com/"><i class="icon fab fa-instagram"></i></a>
                <a target="_blank" rel="noopener" href="https://soundcloud.com/discover"><i class="icon fab fa-soundcloud"></i></a>
                <a target="_blank" rel="noopener" href="https://twitter.com/?lang=en-gb"><i class="icon fab fa-twitter"></i></a>
            </div>
            <div class="col-12">
                <p class="copyright">Simply Records © 2021</p>
            </div>
            <div class="col-12">
                <p class="copyright">Educational purposes only</p>
            </div>
        </div>
    </div>
</div>