<nav class="d-flex navbar-expand-md">
    <div class="d-flex navbar-expand-md nav-header flex-column flex-md-row justify-content-between navbar-collapse">
        <div class="d-flex justify-content-between">
            <button class="navbar-toggler px-2" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Logo-->
            <a class="navbar-brand px-2" href="{}">
                <img src="" alt="logo" class="logo">
            </a>
            <!--Search button-->
            <div class="d-flex">
                <div class="btn px-1 d-block d-lg-none mr-md-3" id="search-button">
                    <div class="text-center text-white d-flex flex-column justify-content-between">
                        <i class="fas fa-search"></i>
                        <small class="mt-1 small-text-navbar">Search</small>
                    </div>
                </div>

                <a href="" class="btn px-1 d-block d-md-none {% if grand_total %}text-warning {% else %}{% endif %}">
                    <div
                        class="text-center d-flex flex-column justify-content-between {% if grand_total %}text-warning {% else %}{% endif %}">
                        <i class="fas fa-shopping-cart"></i>
                        <small class="mt-1 small-text-navbar">
                            {% if grand_total %}
                            <span class="font-weight-bold"> €&nbsp;{{ grand_total|floatformat:2 }} </span>
                            {% else %}
                            €&nbsp;0.00
                            {% endif %}
                        </small>
                    </div>
                </a>
            </div>
        </div>
        <div class="px-1py-1" id="search-form-container">
            <form method="GET" action="">
                <div class="input-group">
                    <input class="form-control" type="text" name="serach_term_input" placeholder="Search"
                        aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn button-black border-white rounded-right" type="submit">
                            <i class="fas fa-search text-white"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="collapse navbar-collapse item-links" id="navbarContent">
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="new-releases-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    New Releases
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="new-releases-link">
                    <a href="" class="dropdown-item">By Price</a>
                    <a href="" class="dropdown-item ">By Rating</a>
                    <a href="" class="dropdown-item ">By Genre</a>
                    <a href="" class="dropdown-item">All Products</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="back-in-stock-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Back In Stock
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="back-in-stock-link">
                    <a href="" class="dropdown-item">By Price</a>
                    <a href="" class="dropdown-item ">By Rating</a>
                    <a href="" class="dropdown-item ">By Genre</a>
                    <a href="" class="dropdown-item">All Products</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="pre-orders-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pre Orders
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="pre-orders-link">
                    <a href="" class="dropdown-item">By Price</a>
                    <a href="" class="dropdown-item ">By Rating</a>
                    <a href="" class="dropdown-item ">By Genre</a>
                    <a href="" class="dropdown-item">All Products</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="ogo-font font-weight-bold nav-link text-black mr-5" href="#" id="merchandise-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Merchandise
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="merchandise-link">
                    <a href="" class="dropdown-item">Gift Cards</a>
                    <a href="" class="dropdown-item ">Clothing</a>
                    <a href="" class="dropdown-item ">Slipmats</a>
                    <a href="" class="dropdown-item">Books</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="ogo-font font-weight-bold nav-link text-black mr-5" href="#" id="equipment-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Equipment
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                    <a href="" class="dropdown-item">Head Phones</a>
                    <a href="" class="dropdown-item">Vinyl Cleaning</a>
                    <a href="" class="dropdown-item">Record Bags</a>
                    <a href="" class="dropdown-item">Cartridges</a>
                </div>
            </li>
        </div>
            <div class="d-none d-md-block ms-auto">
                <ul class="nav">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item mr-5 d-none d-md-block dropdown">
                        <a class="nav-link py-0" href="#" id="accountDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user"></i></div>
                                <small class="my-0">My&nbsp;Account</small>
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="accountDropdown">
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">
                                <i class="fas fa-edit"></i> Product&nbsp;Management
                            </a>
                            {% endif %}
                            <a class="dropdown-item" href="">
                                <i class="fas fa-user"></i> My&nbsp;profile
                            </a>
                            <a class="dropdown-item" href="">
                                <i class="fas fa-history"></i> Order&nbsp;History
                            </a>
                            <a class="dropdown-item border-top" href="{% url 'account_logout' %}">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item d-none d-md-block my-auto">
                        <a class="nav-link py-0 " href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li class="nav-item d-none d-md-block my-auto">
                        <a class="nav-link border-left border-white py-0 " href="{% url 'account_signup' %}">Register
                        </a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link py-0 {% if grand_total %}text-warning {% else %}{% endif %}" href="">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-cart"></i></div>
                                <small>
                                    {% if grand_total %}
                                    <span class="font-weight-bold">£&nbsp;{{ grand_total|floatformat:2 }}</span>
                                    {% else %}
                                    £&nbsp;0.00
                                    {% endif %}
                                </small>
                            </div>
                        </a>
                    </li>
                </ul>
            
                <form method="GET" action="" class="form-inline my-2 my-lg-0 d-none d-lg-block">
                    <div class="input-group">
                        <input class="form-control" type="text" name="serach_term_input" placeholder="Search"
                            aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark my-2 my-sm-0 border-white rounded-right" type="submit">
                                <i class="fas fa-search text-white"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>