<nav class="d-flex nav-header navbar-dark navbar navbar-expand-lg static-top">
    <div class="d-flex navbar-expand-md flex-column flex-md-row navbar-collapse">
        <div class="d-flex">
            <button class="navbar-toggler px-2" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Logo-->
            <a class="navbar-brand px-2" href="{}">
                <img src="/static/img/logo3.png" alt="logo" class="logo">
            </a>
            <!--Search button-->
            <div class="d-flex">
                <div class="btn d-block d-lg-none mr-md-3" id="search-button">
                    <div class="text-center text-white d-flex flex-column justify-content-between">
                        <i class="fas fa-search"></i>
                        <small class="mt-1 small-text-navbar">Search</small>
                    </div>
                </div>
                <a href="" class="btn d-block d-md-none {% if grand_total %}text-warning {% else %}{% endif %}">
                    <div
                        class="text-center d-flex flex-column justify-content-between {% if grand_total %}text-warning {% else %}{% endif %}">
                        <i class="fas fa-shopping-cart"></i>
                        <small class="mt-1 small-text-navbar">
                            {% if grand_total %}
                            <span class="font-weight-bold"> €&nbsp;{{ grand_total|floatformat:2 }} </span>
                            {% else %}
                            €&nbsp;0.00
                            {% endif %}
                        </small>
                    </div>
                </a>
            </div>
        </div>
        <div class="px-1py-1" id="search-form-container">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group">
                    <input class="form-control" type="text" name="q" placeholder="Search our site">
                    <div class="input-group-append">
                        <button class="btn button-black border-white rounded-right" type="submit">
                            <i class="fas fa-search text-white"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="new-releases-link"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        New Releases
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="new-releases-link">
                        <a href="% url 'products' %}?category=new_releases_funk_soul_jazz" class="dropdown-item">Funk Soul &amp; Jazz</a>
                        <a href="% url 'products' %}?category=new_releases_electronic" class="dropdown-item ">Electronic</a>
                        <a href="% url 'products' %}?category=new_releases_hip_hop" class="dropdown-item ">Hip Hop</a>
                        <a href="% url 'products' %}?category=new_releases_rock_indie" class="dropdown-item">Rock &amp; Indie</a>
                        <a href="% url 'products' %}?category=new_releases_funk_soul_jazz,new_releases_electronic,new_releases_hip_hop,new_releases_rock_indie," class="dropdown-item">All New Releases</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="back-in-stock-link"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Back In Stock
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="back-in-stock-link">
                        <a href="% url 'products' %}?category=back_in_stock_funk_soul_jazz" class="dropdown-item">Funk Soul &amp; Jazz</a>
                        <a href="% url 'products' %}?category=back_in_stock_electronic" class="dropdown-item ">Electronic</a>
                        <a href="% url 'products' %}?category=back_in_stock_rock_indie" class="dropdown-item ">Hip Hop</a>
                        <a href="% url 'products' %}?category=back_in_stock_hip_hop" class="dropdown-item">Rock &amp; Indie</a>
                        <a href="% url 'products' %}?category=back_in_stock_funk_soul_jazz,back_in_stock_electronic,back_in_stock_hip_hop,back_in_stock_hip_hop" class="dropdown-item">All Back In Stock</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="pre-orders-link"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pre Orders
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="pre-orders-link">
                        <a href="% url 'products' %}?category=pre_orders_funk_soul_jazz" class="dropdown-item">Funk Soul &amp; Jazz</a>
                        <a href="% url 'products' %}?category=pre_orders_electronic" class="dropdown-item ">Electronic</a>
                        <a href="% url 'products' %}?category=pre_orders_hip_hop" class="dropdown-item ">Hip Hop</a>
                        <a href="% url 'products' %}?category=pre_orders_rock_indie" class="dropdown-item">Rock &amp; Indie</a>
                        <a href="% url 'products' %}?category=pre_orders_funk_soul_jazz,pre_orders_electronic,pre_orders_hip_hop,pre_orders_rock_indie" class="dropdown-item">All Preorders</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="ogo-font font-weight-bold nav-link text-black mr-5" href="#" id="merchandise-link"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Merchandise
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="merchandise-link">
                        <a href="% url 'products' %}?category=clothing" class="dropdown-item ">Clothing</a>
                        <a href="% url 'products' %}?category=slip_mats" class="dropdown-item ">Slipmats</a>
                        <a href="% url 'products' %}?category=books" class="dropdown-item">Books</a>
                        <a href="% url 'products' %}?category=clothing,slipmats,books" class="dropdown-item">All Merchandise</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="ogo-font font-weight-bold nav-link text-black mr-5" href="#" id="equipment-link"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Equipment
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                        <a href="% url 'products' %}?category=head_phones" class="dropdown-item">Head Phones</a>
                        <a href="% url 'products' %}?category=vinly_cleaning" class="dropdown-item">Vinyl Cleaning</a>
                        <a href="% url 'products' %}?category=record_bags" class="dropdown-item">Record Bags</a>
                        <a href="% url 'products' %}?category=cartidges" class="dropdown-item">Cartridges</a>
                        <a href="% url 'products' %}?category=head_phones,vinly_cleaning,record_bags,cartidges" class="dropdown-item">All Equipment</a>
                    </div>
                </li>
                <li class="dropdown-divider d-md-none d-block"></li>
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <li class="nav-item d-md-none d-block">
                    <a class="nav-link uppercase text-white" href="">Admin&nbsp;Management</a>
                </li>
                {% endif %}
                <li class="nav-item d-md-none d-block">
                    <a class="nav-link uppercase text-white" href="">Logout</a>
                </li>

                {% else %}
                <li class="nav-item d-md-none d-block">
                    <a class="nav-link uppercase text-white" href="">Login</a>
                </li>

                <li class="nav-item d-md-none d-block">
                    <a class="nav-link uppercase text-white" href="">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="d-none d-md-block ms-auto">
            <ul class="nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item mr-5 d-none d-md-block dropdown">
                    <a class="nav-link py-0" href="#" id="accountDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user"></i></div>
                            <small class="my-0"></small>
                        </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="accountDropdown">
                        {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">
                            <i class="fas fa-edit"></i> 
                        </a>
                        {% endif %}
                        <a class="dropdown-item" href="">
                            <i class="fas fa-user"></i> 
                        </a>
                        <a class="dropdown-item" href="">
                            <i class="fas fa-history"></i> 
                        </a>
                        <a class="dropdown-item border-top" href="{% url 'account_logout' %}">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item d-none d-md-block my-auto">
                    <a class="nav-link py-0 " href="{% url 'account_login' %}">Login</a>
                </li>
                <li class="nav-item d-none d-md-block my-auto">
                    <a class="nav-link border-left border-white py-0 " href="{% url 'account_signup' %}">Register
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link py-0 {% if grand_total %}text-warning {% else %}{% endif %}" href="">
                        <div class="text-center">
                            <div><i class="fas fa-shopping-cart"></i></div>
                            <small>
                                {% if grand_total %}
                                <span class="font-weight-bold">£&nbsp;{{ grand_total|floatformat:2 }}</span>
                                {% else %}
                                £&nbsp;0.00
                                {% endif %}
                            </small>
                        </div>
                    </a>
                </li>
            </ul>

            <form method="GET" action="" class="form-inline my-2 my-lg-0 d-none d-lg-block">
                <div class="input-group">
                    <input class="form-control" type="text" name="serach_term_input" placeholder="Search"
                        aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark my-2 my-sm-0 border-white rounded-right" type="submit">
                            <i class="fas fa-search text-white"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</nav>