{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="logo-font mb-4">{% trans "Sign Up" %}</h2>
<hr>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction btn btn-warning btn-md mt-3 text-uppercase fw-bold pt-2"
        type="submit">{% trans "Sign In" %}</button>
    <div class="mt-2"><a class="button"
            href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></div>
</form>
<div class="row">
  <div class="col">
      <a href="{% url 'home' %}" class="btn btn-outline-dark btn-lg my-3">
          <span>
              <i class="fas fa-home"></i>
          </span>
          <span class="text-uppercase fw-bold">Home</span>
      </a>
  </div>
</div>


{% endblock %}