<div class="container-fluid">
    <div class="row">
        <h1 class="display-6 font-weight-normal center sub-title-padding">Equipment</h1>
        <a href="">
            <p class="lead font-weight-normal center">More</p>
        </a>
    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6">
            <div class="card mb-4 shadow-sm">
                <a href=""><img class="card-img-top" src="/static/img/hero_img.png" data-holder-rendered="true"
                        alt="get-lucky-music-cover"></a>
                <div class="card-body product-details-container">
                    <span class="upper-case card-margin bold">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span>
                    <br>
                    <span class="card-margin">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span> <br>
                    <span class="card-margin">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">12"</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6">
            <div class="card mb-4 shadow-sm">
                <a href=""><img class="card-img-top" src="/static/img/hero_img.png" data-holder-rendered="true"
                        alt="get-lucky-music-cover"></a>
                <div class="card-body product-details-container">
                    <span class="upper-case card-margin bold">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span>
                    <br>
                    <span class="card-margin">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span> <br>
                    <span class="card-margin">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">12"</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6">
            <div class="card mb-4 shadow-sm">
                <a href=""><img class="card-img-top" src="/static/img/hero_img.png" data-holder-rendered="true"
                        alt="get-lucky-music-cover"></a>
                <div class="card-body product-details-container">
                    <span class="upper-case card-margin bold">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span>
                    <br>
                    <span class="card-margin">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span> <br>
                    <span class="card-margin">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">12"</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6">
            <div class="card mb-4 shadow-sm">
                <a href=""><img class="card-img-top" src="/static/img/hero_img.png" data-holder-rendered="true"
                        alt="get-lucky-music-cover"></a>
                <div class="card-body product-details-container">
                    <span class="upper-case card-margin bold">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span>
                    <br>
                    <span class="card-margin">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span> <br>
                    <span class="card-margin">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">12"</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6">
            <div class="card mb-4 shadow-sm">
                <a href=""><img class="card-img-top" src="/static/img/hero_img.png" data-holder-rendered="true"
                        alt="get-lucky-music-cover"></a>
                <div class="card-body product-details-container">
                    <span class="upper-case card-margin bold">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span>
                    <br>
                    <span class="card-margin">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span> <br>
                    <span class="card-margin">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">12"</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6">
            <div class="card mb-4 shadow-sm">
                <a href=""><img class="card-img-top" src="/static/img/hero_img.png" data-holder-rendered="true"
                        alt="get-lucky-music-cover"></a>
                <div class="card-body product-details-container">
                    <span class="upper-case card-margin bold">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span>
                    <br>
                    <span class="card-margin">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span> <br>
                    <span class="card-margin">Name of Record wjbfoewdhoewudhowewheoihewoifhwe</span>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">12"</small>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>