<div class="container-fluid">
    <div class="row">
        <h1 class="display-6 font-weight-normal center sub-title-padding">Featured Releases</h1>
        <div id="news-slider" class="owl-carousel">
            <div class="product">
                <div class="product-image"> <a href="" class="image"> <img src="/static/img/hero_img.png" class="pic-1">
                        <img src="images/2.jpg" class="pic-2"> </a> <a href="" class="cart">Add to Cart</a>
                    <ul class="links">
                        <li><a href=""><i class="fa fa-search" aria-hidden="true"></i> </a></li>
                        <li><a href=""><i class="fa fa-heart-o" aria-hidden="true"></i> </a></li>
                    </ul>
                </div>
                <div class="content"> <span class="category"><a href="">Vinyl</a></span>
                    <h3 class="title"><a href="">Record Name</a></h3>
                    <div class="price"><span>Price</span>£12.99</div>

                </div>
            </div>
            <div class="product">
                <div class="product-image"> <a href="" class="image"> <img src="/static/img/hero_img.png" class="pic-1">
                        <img src="images/2.jpg" class="pic-2"> </a> <a href="" class="cart">Add to Cart</a>
                    <ul class="links">
                        <li><a href=""><i class="fa fa-search" aria-hidden="true"></i> </a></li>
                        <li><a href=""><i class="fa fa-heart-o" aria-hidden="true"></i> </a></li>
                    </ul>
                </div>
                <div class="content"> <span class="category"><a href="">Vinyl</a></span>
                    <h3 class="title"><a href="">Record Name</a></h3>
                    <div class="price"><span>Price</span>£12.99</div>

                </div>
            </div>
            <div class="product">
                <div class="product-image"> <a href="" class="image"> <img src="/static/img/hero_img.png" class="pic-1">
                        <img src="images/2.jpg" class="pic-2"> </a> <a href="" class="cart">Add to Cart</a>
                    <ul class="links">
                        <li><a href=""><i class="fa fa-search" aria-hidden="true"></i> </a></li>
                        <li><a href=""><i class="fa fa-heart-o" aria-hidden="true"></i> </a></li>
                    </ul>
                </div>
                <div class="content"> <span class="category"><a href="">Vinyl</a></span>
                    <h3 class="title"><a href="">Record Name</a></h3>
                    <div class="price"><span>Price</span>£12.99</div>

                </div>
            </div>
            <div class="product">
                <div class="product-image"> <a href="" class="image"> <img src="/static/img/hero_img.png" class="pic-1">
                        <img src="images/2.jpg" class="pic-2"> </a> <a href="" class="cart">Add to Cart</a>
                    <ul class="links">
                        <li><a href=""><i class="fa fa-search" aria-hidden="true"></i> </a></li>
                        <li><a href=""><i class="fa fa-heart-o" aria-hidden="true"></i> </a></li>
                    </ul>
                </div>
                <div class="content"> <span class="category"><a href="">Vinyl</a></span>
                    <h3 class="title"><a href="">Record Name</a></h3>
                    <div class="price"><span>Price</span>£12.99</div>

                </div>
            </div>
            <div class="product">
                <div class="product-image"> <a href="" class="image"> <img src="/static/img/hero_img.png" class="pic-1">
                        <img src="images/2.jpg" class="pic-2"> </a> <a href="" class="cart">Add to Cart</a>
                    <ul class="links">
                        <li><a href=""><i class="fa fa-search" aria-hidden="true"></i> </a></li>
                        <li><a href=""><i class="fa fa-heart-o" aria-hidden="true"></i> </a></li>
                    </ul>
                </div>
                <div class="content"> <span class="category"><a href="">Vinyl</a></span>
                    <h3 class="title"><a href="">Record Name</a></h3>
                    <div class="price"><span>Price</span>£12.99</div>

                </div>
            </div>
            <div class="product">
                <div class="product-image"> <a href="" class="image"> <img src="/static/img/hero_img.png" class="pic-1">
                        <img src="images/2.jpg" class="pic-2"> </a> <a href="" class="cart">Add to Cart</a>
                    <ul class="links">
                        <li><a href=""><i class="fa fa-search" aria-hidden="true"></i> </a></li>
                        <li><a href=""><i class="fa fa-heart-o" aria-hidden="true"></i> </a></li>
                    </ul>
                </div>
                <div class="content"> <span class="category"><a href="">Vinyl</a></span>
                    <h3 class="title"><a href="">Record Name</a></h3>
                    <div class="price"><span>Price</span>£12.99</div>

                </div>
            </div>
            <div class="product">
                <div class="product-image"> <a href="" class="image"> <img src="/static/img/hero_img.png" class="pic-1">
                        <img src="images/2.jpg" class="pic-2"> </a> <a href="" class="cart">Add to Cart</a>
                    <ul class="links">
                        <li><a href=""><i class="fa fa-search" aria-hidden="true"></i> </a></li>
                        <li><a href=""><i class="fa fa-heart-o" aria-hidden="true"></i> </a></li>
                    </ul>
                </div>
                <div class="content"> <span class="category"><a href="">Vinyl</a></span>
                    <h3 class="title"><a href="">Record Name</a></h3>
                    <div class="price"><span>Price</span>£12.99</div>

                </div>
            </div>
            <div class="product">
                <div class="product-image"> <a href="" class="image"> <img src="/static/img/hero_img.png" class="pic-1">
                        <img src="images/2.jpg" class="pic-2"> </a> <a href="" class="cart">Add to Cart</a>
                    <ul class="links">
                        <li><a href=""><i class="fa fa-search" aria-hidden="true"></i> </a></li>
                        <li><a href=""><i class="fa fa-heart-o" aria-hidden="true"></i> </a></li>
                    </ul>
                </div>
                <div class="content"> <span class="category"><a href="">Vinyl</a></span>
                    <h3 class="title"><a href="">Record Name</a></h3>
                    <div class="price"><span>Price</span>£12.99</div>

                </div>
            </div>
        </div>
    </div>
</div>