<div class="container-fluid">
    <div class="row">
        <h1 class="display-6 font-weight-normal center sub-title-padding">Featured</h1>
        <div id="news-slider" class="owl-carousel">
            {% for product in products %}
            <div class="product">
                <div class="product-image"> <a href="{% url 'product_details' product.id %}" class="image"> <img src="{{ product.image.url }}" class="pic-1">
                        <img src="{{ product.image.url }}" class="pic-2"> </a>
                </div>
                <div class="content"> <span class="category"><a href="">{{ product.genre }}</a></span>
                    <h3 class="title"><a href="% url 'product_details' product.id %}">{{ product.name }}</a></h3>
                    <div class="price"><span>Price</span>{{ product.price }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>