<div class="container-fluid">
    <div class="row">
        <h1 class="display-6 font-weight-normal center sub-title-padding">Pre Sale</h1>
    </div>
    <div class="row">
        {% for pre_orders_funk_soul_jazz in home_pre_orders|slice:":6" %}
        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-4 col-6">
            <div class="card mb-4 shadow-sm">
                {% if pre_orders_funk_soul_jazz.image %}
                <a href="{% url 'product_details' pre_orders_funk_soul_jazz.id %}"><img class="card-img-top"
                        src="{{ pre_orders_funk_soul_jazz.image.url }}" data-holder-rendered="true"
                        alt="{{ pre_orders_funk_soul_jazz.product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_details' pre_orders_funk_soul_jazz.id %}"><img class="card-img-top"
                        src="{{ MEDIA_URL }}no_image.png" data-holder-rendered="true" alt="No Image">
                </a>
                {% endif %}
                <div class="card-body product-details-container">
                    <span class="upper-case card-margin bold">{{ pre_orders_funk_soul_jazz.name }}</span>
                    <br>
                    <span class="card-margin">{{ pre_orders_funk_soul_jazz.label_name }}</span> <br>
                    <a class="text-muted category-badge text-decoration-none"
                        href="{% url 'products' %}?category=pre_orders_funk_soul_jazz">
                        <span class="">Pre Sale Funk Soul & Jazz</span>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>