{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Product details{% endblock %}
{% block content%}

<div class="container-fluid my-3 my-md-5">
    <div class="row  my-3 my-md-5">
        <div class="col-sm-12 col-md-3 col-lg-3 mb-2 mb-lg-5">
            {% if product.image %}
            <a href="{{ product.image_url }}" target="_blank" rel="noopener">
                <img class="card-img-top img-fluid rounded-lg shadow-sm" src="{{ product.image.url }}"
                    alt="{{ product.name }}">
            </a>
            {% else %}
            <img class="card-img-top img-fluid rounded-lg shadow-sm" src="{{ MEDIA_URL }}no_image.png"
                alt="{{ product.name }}">
            {% endif %}

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 justify-content-between flex-column mb-2 mb-lg-5">
            <h1>{{ product.name }}</h1>
            <h2>{{ product.label_name }}</h2>
            <p class="text-salmon">
                <i class="fas fa-tag mr-2 "></i>
                <a href="" class="text-dark font-weight-bold">
                    {{ product.genre }}
                </a>
            </p>
            <p class="text-salmon">
                <i class="fas fa-pound-sign"></i>
                <a href="" class="text-dark font-weight-bold">
                    {{ product.price }}
                </a>
            </p>
            {% if product.rating %}
            <small class=""><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
            {% else %}
            <small class="">No Rating</small>
            {% endif %}
            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 text-xl-left">
                <div class="row">
                    <h2>Description</h2>
                    <p class="description-p">{{ product.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <h2>Tracklist:</h2>
                <table class="playlist">
                    <tbody>
                        <tr>
                            <td width="100%">{{ product.track_list }}</td>
                        </tr>
                        <tr>
                            <td width="100%">{{ product.track_list }}</td>
                        </tr>
                        <tr>
                            <td width="100%">{{ product.track_list }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}